@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  user-select: none;
}

canvas {
  touch-action: none;
}
